body
    margin: 2em 0

#chat-messages
    word-break: break-all

    overflow: auto
    padding-right: 50px

    .media:first-child
        margin-top: 15px

    .repeated-message
        .avatar
            display: none

        .displayName
            display: none

        margin-top: 0
        margin-left: 42px
