body
    margin: 2em 0

#chat-messages
    word-break: break-all

    overflow: auto
    padding-right: 50px

    .media:first-child
        margin-top: 15px

    .repeated-message, .notice-message
        .avatar
            display: none

        .displayName
            display: none

        margin-left: 42px

    .repeated-message
        margin-top: 0

    .notice-message
        font-style: italic
        color: #777

#footer
    margin-top: 40px
    line-height: 1
